@media all and (min-width: 480px) {
    
    .CardRegistration {
        padding: 60px 0;
        width: 100%;
      }

    .CardRegistration form{
        margin: 0 auto;
        max-width: 320px;
    }
  }